{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="mironcoder">
    <meta name="email" content="mironcoder@gmail.com">
    <meta name="profile" content="https://themeforest.net/user/mironcoder">

    <meta name="name" content="Greeny">
    <meta name="title" content="Greeny - eCommerce HTML Template">
    <meta name="keywords" content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, webshop, farm, grocery, natural, online store">

    <title>Standard Home - Greeny</title>

    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-standard.css' %}">
</head>
  
    
    
    
    
    <body>

        
        <div class="backdrop"></div>
        <a class="backtop fas fa-arrow-up" href="#"></a>
    
    <div class="header-top alert fade show">
        <p>20% Discount All New Customers <a href="{% url 'radio:register' %}">get register</a></p>

        <button data-bs-dismiss="alert"><i class="fas fa-times"></i></button>
    </div>


        <!--=====================================
                    HEADER PART START
        =======================================-->
        {% include 'partial/header.html' %}

   

  
        {% block content %}
       
        {% endblock content %}
    


    
        {% include 'partial/footer.html' %}
      


        <script src="{% static 'vendor/bootstrap/jquery-1.12.4.min.js' %}"></script>
        
            <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
            <script src="{% static 'vendor/countdown/countdown.min.js' %}"></script>
            <script src="{% static 'vendor/niceselect/nice-select.min.js' %}"></script>
            <script src="{% static 'vendor/slickslider/slick.min.js' %}"></script>
            <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
        
            <!-- CUSTOM -->
            <script src="{% static 'js/nice-select.js' %}"></script>
            <script src="{% static 'js/countdown.js' %}"></script>
            <script src="{% static 'js/accordion.js' %}"></script>
            <script src="{% static 'js/venobox.js' %}"></script>
            <script src="{% static 'js/slick.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
        <!--=====================================
                    JS LINK PART END
        =======================================-->
    </body>
</html>






